body {
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.dashboard {
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	/* max-width: max-content; */
}

.summary {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;
	min-height: 100px;
	/* gap: 10px; */
	padding: 24px;
	color: #ffffff;
	justify-content: space-between;
	/* gap: 10px; */
	border-radius: 10px;
	background: #4f646f;
}

.chat-form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: end;
}

.submit-button {
	background: #4f646f;
	width: 200px;
}

.card-details {
	min-width: 300px;
}

.additional-details {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 20px;
}

.chat-box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background: #00000040;
	border-radius: 10px;
	background: #fadfd1;
	min-height: 200px;
	justify-content: space-between;
}

.prompt {
	padding: 10px 20px;
	/* border-radius: 10px; */
	/* background: #4f646f; */
	color: #ffffff;
	border-radius: 0 10px 10px 10px;
	/* min-width: 400px; */
	/* min-height: 150px; */
	height: 300px;
	overflow-y: auto;
}

input {
	padding: 20px;
	text-align: end;
	background: #ffffff;
	color: #000000;
	border: none;
	border-radius: 0px;
	border-radius: 10px 0px 10px 10px;
	width: 90%;
}

/* .timeline {
	min-width: 1000px;
} */

.transaction-charts {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
}

.message {
	margin: 5px 0;
	padding: 5px 10px;
}

/* .message.prompt {
	background: #28a745;
	border-radius: 0px 10px 10px 10px;
} */

.message.user {
	background: #007bff;
	text-align: right;
	border-radius: 10px 0px 10px 10px;
}

.message.response {
	background: #28a745;
	border-radius: 0px 10px 10px 10px;
}

.pie-chart {
	flex: 0 1 auto;
	min-width: 200px;
	max-width: 300px;
	background: #fadfd1;
	padding: 20px;
	border-radius: 20px;
}

.bar-chart {
	flex: 1;
	overflow-x: scroll;
	background: #fadfd1;
	padding: 20px;
	border-radius: 20px;
}

.bar {
	min-height: 300px;
	max-height: 300px;
	min-width: 800px;
	max-width: 100%;
	/* width: 100%; */
}
